<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skapa karaktär</title>
</head>
<body>

<h1>Skapa karaktär</h1>

<form th:action="@{/characters/create}" th:object="${character}" method="post">

    <label for="name">Namn:</label><br>
    <input type="text" id="name" th:field="*{name}" placeholder="Skriv ditt namn" required><br><br>

    <p>Välj din klass:</p>
    <div th:each="c : ${classes}">
        <input type="radio" th:field="*{characterClass}" th:value="${c.name}" id="${c.name}" required>
        <label th:for="${c.name}" th:text="${c.displayName}"></label><br>
    </div>

    <br>
    <button type="submit">Skapa karaktär</button>

</form>

</body>
</html>
