<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Föremål</title>
</head>
<body>

<h1>Föremål</h1>

<a th:href="@{/items/new}">Skapa nytt föremål</a>

<br><br>

<h2>Föremålen du skapat</h2>

<table border="1">
    <thead>
    <tr>
        <th>Namn</th>
        <th>Typ</th>
        <th>Skada</th>
        <th>Vikt</th>
        <th>Pris</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${forgeItems}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.type.displayName}"></td>
        <td th:text="${item.damage}"></td>
        <td th:text="${item.weight}"></td>
        <td th:text="${item.price}"></td>
    </tr>
    </tbody>
</table>

<br><br>

<h2>Föremål i affären</h2>

<table border="1">
    <thead>
    <tr>
        <th>Namn</th>
        <th>Typ</th>
        <th>Skada</th>
        <th>Vikt</th>
        <th>Pris</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${shopItems}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.type.displayName}"></td>
        <td th:text="${item.damage}"></td>
        <td th:text="${item.weight}"></td>
        <td th:text="${item.price}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
